<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  {{!-- load Bootstrap --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <header>
    {{!-- navBar --}}
    <nav class="navbar navbar-dark bg-primary justify-content-between px-4">
      <a class="navbar-brand" href="/">
        {{#if isAuthenticated}}{{ user.name}}'s{{/if}} expense-tracker
      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-light">Logout</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-light">Login</a>
      {{/if}}
    </nav>
  </header>
  {{!-- partial template --}}
  <main>
    <div class="container mt-3">
      {{{ body }}}
    </div>
  </main>

  {{!-- load fontAwesome --}}
  <script src="https://kit.fontawesome.com/8dad737d39.js" crossorigin="anonymous"></script>
  {{!-- load Bootstrap --}}
  <script src="/javascripts/bootstrap.bundle.js"></>
</body>

</html>